*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.page{
    width: 100%;
    height: 100vh;
}
.page1{
   background-color: rgb(10, 20, 20);
}
.page2{
    background-color: rgb(8, 70, 70);
}
.page3{
   background-color: rgb(31, 31, 29);
}
.page4{
   background-color: rgb(17, 10, 3);
}
.pointer{
    position: absolute;
    display: inline;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    filter: blur(4px);
}
.pointer1{
    background-color: #17c1df; 
}
.pointer2{
    background-color: #b4df17;
}
.pointer3{
    background-color: #df5017;
}
.pointer4{
    background-color: #df9917;
}
